@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
  background-color: #644df6;
}

.backgroundMain {
  background-color: #051725;
}

.newColor {
  color: #051725;
}

.bg-deep-purple-accent-400 {
  background-color: #6a0dad;
}

.bg-deep-purple-accent-700 {
  background-color: #5b009b;
}

.coverLine {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  bottom: -1.9rem;
  z-index: 3;
}